header
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='../public/css/indexHeader.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    
    script(type='text/javascript', src='../public/js/indexHeader.js')
body
    #myTopnav.topnav
        a.active(href='/') CEYHUN GARAGE
        a(href='/login') Giriş Yap
        a(href='/register') Kaydol
        a.icon(href='javascript:void(0);', onclick='myFunction()')
            i.fa.fa-bars