html
    head
        title Login
        link(rel='stylesheet', href='../public/css/login.css')

    body
        include sessionHeader.pug

        .container
            h3.container-slogan Şifreyi Değiştir!

            form(method='POST')
                input(type='password', placeholder='Parola', name='password')
                input(type='password', placeholder='Yeni Parola', name='new_password')
                input(type='password', placeholder='Yeni Parola(Tekrar)', name='repeat')
                input(type='submit', value='Şifeyi Değiştir')

        include footer.pug
        | #{user_id}
