html
    head
        link(rel='stylesheet', href='../public/css/rent.css')

        title CvC
    body
        include sessionHeader.pug

        .container
            .filter
                h3 Filtrele

                form(method='GET')
                    input(type='text')
            .result
            
                
                .car-container
                    .car-info
                        h4.brand Hyundai
                        p.passengers 5 Kişilik
                        p.luggages 1 Bavul
                        p.doors 4 Kapı
                        p.price 75₺
                        a(href='/cvc/rent/123')
                            input(type='submit', value='Kirala')
                    .car-image
                        img(src='https://www.momondo.com.tr/h/run/api/image?caller=Cars&height=196&crop=true&url=/carimages/generic/02_economy_coolgrey.png')

                .car-container
                    .car-info
                        h4.brand Hyundai i30
                        p.passengers 5 Kişilik
                        p.luggages 1 Bavul
                        p.doors 4 Kapı
                        p.price 75₺
                        a(href='/cvc/rent/123')
                            input(type='submit', value='Kirala')
                    .car-image
                        img(src='https://www.momondo.com.tr/h/run/api/image?caller=Cars&height=196&crop=true&url=/carimages/generic/02_economy_coolgrey.png')

                .car-container
                    .car-info
                        h4.brand Hyundai i30
                        p.passengers 5 Kişilik
                        p.luggages 1 Bavul
                        p.doors 4 Kapı
                        p.price 75₺
                        a(href='/cvc/rent/123')
                            input(type='submit', value='Kirala')
                    .car-image
                        img(src='https://www.momondo.com.tr/h/run/api/image?caller=Cars&height=196&crop=true&url=/carimages/generic/02_economy_coolgrey.png')

                .car-container
                    .car-info
                        h4.brand Hyundai i30
                        p.passengers 5 Kişilik
                        p.luggages 1 Bavul
                        p.doors 4 Kapı
                        p.price 75₺
                        a(href='/cvc/rent/123')
                            input(type='submit', value='Kirala')
                    .car-image
                        img(src='https://lh3.googleusercontent.com/proxy/Ox0mxmde7VhgC-AT-b5oy7BoqcwpZh2t_G8XjGvIVhJXAr2vWQp9IXvV40I5bsVyL52fx0dH0tf5oqcRSOnk1w2i8mrQM2FTqECcQykwzRTv2h0')
                
                .car-container
                    .car-info
                        h4.brand Hyundai i30
                        p.passengers 5 Kişilik
                        p.luggages 1 Bavul
                        p.doors 4 Kapı
                        p.price 75₺
                        a(href='/cvc/rent/123')
                            input(type='submit', value='Kirala')
                    .car-image
                        img(src='https://www.momondo.com.tr/h/run/api/image?caller=Cars&height=196&crop=true&url=/carimages/generic/02_economy_coolgrey.png')
                


